../../../.gitconfig
        ../../../.lesshst
        ../../../.lim/
        ../../../.vscode/
        ../../../AppData/
        ../../../Blog/
        ../../../Contacts/
        ../../../Downloads/
        ../../../ErikNahuelLlambiPirez/
        ../../../FamiliaresProyecto/
        ../../../Favorites/
        ../../../Fortnite.rar
        ../../../Fortnite/
        ../../../IntelGraphicsProfiles/
        ../../../Links/
        ../../../MiProyecto.rar
        ../../../MiProyecto/
        ../../../Music/
        ../../../NTUSER.DAT
        ../../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
        ../../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
        ../../.849C9593-D756-4E56-8D6E-42412F2A707B
        ../../Documentos/
        ../Actividad/
        ../Blade The Edge of Darkness.url
        ../Boletin MATRIZ.xlsx
        ../Dead by Daylight.url
        ../Discord.lnk
        ../Entrega final.docx
        ../Excel 2016.lnk
        ../Fortnite.lnk
        ../Fuente/
        ../Grand Theft Auto V.url
        ../Jurassic World Evolution 2.url
        ../MP3Studio YouTube Downloader.lnk
        ../PowerPoint 2016.lnk
        ../Profile Template.rar
        ../Profile Template/
        ../ProyectoBlog/
        ../Publisher 2016.lnk
        ../Rockstar Games Launcher.lnk
        "../STAR WARS\342\204\242 The Old Republic\342\204\242.url"
        ../Spotify.lnk
        ../Tercerapreentrega-Llambi/
        ../Visual Studio Code.lnk
        ../Wondershare Filmora 12.lnk
        ../Word 2016.lnk
        ../Yu-Gi-Oh!  Master Duel.url
        ../desktop.ini
        ../guia entrega final.docx
        ../yu-gothic.zip
        "../../Im\303\241genes/"
        ../../coder/
        ../../desktop.ini
        ../../../Proyecto1/
        ../../../Saved Games/
        ../../../Searches/
        ../../../StarwarsBlog/
        ../../../Videos/
        ../../../blogMD/
        ../../../myenv/
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini