{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row g-5">
        <div class="col-md-3"></div>

        <div class="col-md-6">

            <div class="col-md-11 p-2" style="margin-left: -1cm;">

            <h1>Registro exitoso</h1>
            <button class="btn btn-primary btn-lg rounded-0 my-3" type="submit">Sign in</button>
                </div>
            </div>

        </div>

        <div class="col-md-3"></div>
    </div>
</div>
</main>
</div>

<style>
    label[for="id_username"], label[for="id_email"], label[for="id_password1"], label[for="id_password2"] {
        font-weight: bold;
        color: #333
    }
</style>

{% endblock %}
